<div class="container">
    <div id="step1" *ngIf="step == 1">
        <h1>Uw bedrijfgegevens</h1>
        <form #companyForm="ngForm" (ngSubmit)="goToStep(2)">
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="name">Bedrijfsnaam</label>
                        <input #name="ngModel" name="name" [(ngModel)]="company.name" type="text" class="form-control"
                               id="name" required pattern="[\d\w\s!?-_@%&+.]+">
                        <div [hidden]="name.valid || name.pristine"
                             class="alert alert-danger">
                            Bedrijfsnaam is ongeldig
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-6">
                    <label for="street">Straat</label>
                    <input #street="ngModel" name="street" [(ngModel)]="company.street" type="text" class="form-control"
                           id="street"
                           required pattern="[\d\w\s.-]{3,40}">
                    <div [hidden]="street.valid || street.pristine"
                         class="alert alert-danger">
                        Straat is ongeldig
                    </div>
                </div>
                <div class="col-3">
                    <label for="street">Huisnummer</label>
                    <input #number="ngModel" name="number" [(ngModel)]="company.number" type="text" class="form-control"
                           id="number"
                           required pattern="[\d\w\s]{3,40}">
                    <div [hidden]="number.valid || number.pristine"
                         class="alert alert-danger">
                        Huisnummer is een verplicht veld
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="zip">Postcode</label>
                        <input #zip="ngModel" name="zip" [(ngModel)]="company.zip" type="text" class="form-control"
                               id="zip"
                               required pattern="[\d\w\s]{4,10}">
                        <div [hidden]="zip.valid || zip.pristine"
                             class="alert alert-danger">
                            Postcode is een verplicht veld
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="phone">Telefoonnummer</label>
                        <input #phone="ngModel" name="phone" [(ngModel)]="company.phone" type="text"
                               class="form-control" id="phone" required>
                        <div [hidden]="phone.valid || phone.pristine"
                             class="alert alert-danger">
                            Telefoonnummer is een verplicht veld
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="commerceNumber">KVK-nummer</label>
                        <input #commerceNumber="ngModel" name="commerceNumber" [(ngModel)]="company.commerceNumber"
                               type="text" class="form-control"
                               id="commerceNumber" required pattern="[\d\w\s.#-]{4,40}">
                        <div [hidden]="commerceNumber.valid || commerceNumber.pristine"
                             class="alert alert-danger">
                            KVK-nummer is een verplicht veld
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="country">Land</label>
                        <select #country="ngModel" name="country" [(ngModel)]="company.country" class="form-control"
                                id="country"
                                required>
                            <option *ngFor="let country of countries" [value]="country.code">
                                {{country.name}}
                            </option>
                        </select>
                        <div [hidden]="country.valid || country.pristine"
                             class="alert alert-danger">
                            Land is een verplicht veld
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="website">Website</label>
                        <input name="website" [(ngModel)]="company.website" type="text" class="form-control"
                               id="website"
                               pattern="[\d\w._-]{2,40}(\.[\w]{2,3}){1,2}">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="!companyForm.form.valid">Volgende</button>

        </form>
    </div>
    <div id="step2" *ngIf="step == 2">
        <h1>Account</h1>
        <form #companyForm="ngForm" (ngSubmit)="goToStep()">
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input appCompanyEmail #companyEmail="ngModel" name="email" [(ngModel)]="company.email"
                               type="text" class="form-control" id="email" required>
                        <div [hidden]="companyEmail.valid || companyEmail.pristine || companyEmail.errors?.companyEmail"
                             class="alert alert-danger">
                            Email is een verplicht veld
                        </div>
                        <div *ngIf="companyEmail.dirty && companyEmail.errors?.companyEmail" class="alert alert-danger">
                            {{companyEmail.errors.companyEmail}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="password">Wachtwoord</label>
                        <input #password="ngModel" name="password" [(ngModel)]="account.password"
                               type="password" class="form-control" id="password" required (keyup)="passwordChanged(companyForm)">
                        <div [hidden]="password.valid || password.pristine || password.errors?.password"
                             class="alert alert-danger">
                            Wachtwoord moet minimaal 8 tekens lang zijn en een hoofdleter en cijfer bevatten
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="form-group">
                        <label for="confirmPassword">Bevestiging wachtwoord</label>
                        <input #confirmPassword="ngModel" name="confirmPassword" [(ngModel)]="account.confirmPassword" [appFieldMatches]="password" type="password" class="form-control"
                               id="confirmPassword" required>
                        <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="alert alert-danger">
                            Wachtwoorden zijn niet gelijk
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success" (click)="goToStep(1)">Vorige</button>

        </form>
    </div>

</div>