@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Arial, sans-serif;
  padding: 0.2em;
  margin: 0.2em;
}

a {
  text-decoration: underline;
  color: #0000FF;
  cursor: pointer;
}
